@model Dal.Models.PersonDepartment
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<tr>
    <td>@Model.Person.Name</td>
    <td><button class="btn btn-default" onclick="deleteClicked(@Model.PersonId)">Remove</button></td>
</tr>